@using Ecommerce.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container my-5">
    <h2>Checa tu Balance General</h2>

    <table>
        <tr>
            <td></td>
            <td colspan="2">Enero</td>
            <td colspan="2">Febrero</td>
        </tr>
        <tr>
            <td rowspan="3">Datos Económicos</td>
            <td>Ingresos</td>
            <td>Gastos</td>
            <td>Ingresos</td>
            <td>Gastos</td>
        </tr>
        <tr>
            <td>1.000€</td>
            <td>700€</td>
            <td>1.100€</td>
            <td>580€</td>
        </tr>
        <tr>
            <td>1.800€</td>
            <td>920€</td>
            <td>1.750€</td>
            <td>920€</td>
        </tr>
    </table>


</div>






