@{
    ViewBag.Title = "Nosotros";
}
<div id="colorlib-about">
    <div class="container">
        <div class="row">
            <div class="about-flex">
                <div class="col-three-forth">
                    <h2>Nosotros</h2>
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Misión</h3>
                            <p>
                                Poner al alcance de los consumidores un producto selecto, natural y sin conservadores, ofreciendo la más alta calidad del mercado.
                            </p>

                            <h3>Visión</h3>
                            <p>
                                Convertirnos en una empresa reconocida, al mismo tiempo la mejor alternativa para nuestros clientes y, así, en la solución 
                            </p>
                            <p>adecuada para su satisfacción. Trabajamos pensando en ellos, en darles más calidad y mejor servicio.</p>

                            <div class="row row-pb-sm">
                                <div class="col-md-6">
                                    <img src="~/Content/img/logo.png" class="img-responsive" alt="imagen">
                                </div>
                                <div class="col-md-6">

                                    <h3>Valores</h3>

                                    <p>
                                        Calidad.
                                    </p>
                                    <p>
                                        Responsabilidad
                                    </p>
                                    <p>
                                        Soliradidad
                                    </p>
                                    <p>
                                        Transparencia y honestidad.

                                    </p>
                                    <p>
                                        Constancia
                                    </p>
                                </div>
                            </div>

                            <h3>¿Que hacemos?</h3>
                            <p>
                                Consiste en un té a base de ingredientes 100% naturales , el cual está dirigido a personas que padecen de diabetes. Su función principal es regular los niveles de azúcar en la sangre.
                                .
                            </p>
                            <h3>Ventanjas</h3>

                            <p>
                                Entre las ventajas de tomar té hemos de destacar la relativa a estimular la producción de insulina en nuestro organismo. Estudios señalan que tomar tres tazas de té al día reduce en un 40 % el peligro de padecer diabetes tipo 2.
                            </p>

                            <p>
                                El té para bajar el azúcar también ayuda a prevenir los coágulos en la sangre, tener una presión correcta en las arterias, una prevención de las dolencias cardiovasculares y una disminución de los riesgos de padecer cáncer.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
